.crossed-line {
  text-decoration: line-through 3px;
  color: #ff7f50;
}
.attained {
  margin-right: 20px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.btn:focus {
  outline: none;
}
.grocery-text {
  color: black;
  text-transform: uppercase;
  font-size: 32px;
}
.btn-primary-outline {
  background-color: transparent;
  border-color: transparent;
  color: #888888;
  font-size: 32px;
  cursor: pointer;
}
.bought-item {
  padding: 20px;
  background-color: transparent;
  border-color: transparent;
}
.bought {
  margin-left: 20px;
  color: #fff;
}
input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 2.6em;
  height: 2.6em;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
::placeholder {
  color: #d8d8d8;
}
.list {
  background-color: #faf9f6;
  padding: 40px;
  border-radius: 6px;
}
