
html,
body {
  background-color: #132237;
  font-family: "Lato", sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.custom-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fadeIn {
  animation: 0.3s fadeIn forwards;
}

.fadeOut {
  animation: 0.3s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    // transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    // transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    // transform: translate(0px, 0px);
  }
  to {
    // transform: translate(-20px, 0);
    opacity: 0;
  }
}

// Site List gover effect
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: #42b078;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding-top: 25%;
}
.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.3;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hovereffect .line {
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  background-color: transparent;
  padding: 1em 0;
}

.hovereffect .line:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.hovereffect:hover .line:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hovereffect span,
.hovereffect p {
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  padding: 1em 0;
  text-transform: uppercase;
}

.hovereffect:hover span,
.hovereffect:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
